<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title></title>
</head>
<body>
    <div ng-app="english" class="">
        <div ng-controller="randomwords" class="container">
            <h1>English test</h1>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Instructions
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Pour utiliser l'application il faut :
                            <ul>
                                <li>Télécharger cet <a download target="_blank" href="exemple.txt">exemple</a></li>
                                <li>Ouvrir le fichier avec BlocNote,</li>
                                <li>Le remplir avec les mots voulus,</li>
                                <li>Sauvegarder et importer le fichier dans l'application ci-dessous en cliquant sur "Choisissez un fichier".</li>
                            </ul>

                            En cas de problème avec le fichier :
                            <ul>
                                <li>Veillez à ce que le format du fichier soit bien un .txt</li>
                                <li>Afin de vérifier le contenu du fichier, copier le contenu dans ce <a target="_blank" href="https://jsonformatter.curiousconcept.com/">site</a></li>
                                <li>Cliquez sur "Process", et corrigez les erreurs s'il y en a.</li>
                                <li>Si le problème n'est pas résolu <a href="mailto:cabridens@gmail.com?subject=feedback">contactez moi par email</a> ( cabridens@gmail.com ) </li>
                            </ul>

                            En cas de problème avec les accents :
                            <ul>
                                <li>Créer un fichier texte (.txt),</li>
                                <li>Ouvrir le fichier avec BlocNote,</li>
                                <li>Le remplir avec les mots voulus comme dans cet <a target="_blank" href="exemple.txt">exemple</a>,</li>
                                <li>Enregistrer sous en choisisant le codage UTF-8 ( il est à ANSI par défaut ),</li>
                                <li>Importer le fichier dans l'application ci-dessous en cliquant sur "Choisissez un fichier".</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Liste de vocabulaire
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body center">

                            <a download target="_blank" href="models/Voc-Business-trips.txt">
                                <button type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Business trips
                                </button>
                            </a>

                            <a download target="_blank" href="models/Voc-Restaurants.txt">
                                <button type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Restaurants
                                </button>
                            </a>

                            <a download target="_blank" href="models/Voc-The-weather.txt">
                                <button type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> The weather
                                </button>
                            </a>

                            <a download target="_blank" href="models/Voc-Transportation.txt">
                                <button type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Transportation
                                </button>
                            </a>

                            <a download target="_blank" href="models/Vocabulaire complet.txt">
                                <button type="button" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Les 4 réunis
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="file" class="col-sm-2 control-label">Fichier</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" onchange="angular.element(this).scope().loadFile()" id="file" name="htmlFile" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="prop" class="col-sm-2 control-label">Proposition</label>
                    <div class="col-sm-10">
                        <input type="text" id="prop" class="form-control" ng-model="wordTest" ng-change="testWord()" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" name="button" ng-click="newWord(1)">Passer</button>
                        <button type="button"  class="btn btn-default" name="button" ng-click="resetParty()">Recommencer</button>
                        <button type="button"  class="btn btn-default" name="button" ng-click="resetWithLooseWords()">Recommencer avec les mots passés</button>
                    </div>
                </div>

                <div class="form-group lang">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active langRadio lang0" ng-click="changeLangWord(0)">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Anglais
                        </label>
                        <label class="btn btn-primary langRadio lang1" ng-click="changeLangWord(1)">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Français
                        </label>
                        <label class="btn btn-primary langRadio lang2" ng-click="changeLangWord(2)">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Les deux
                        </label>
                    </div>
                </div>
            </form>

            <div class="whatword">
                <h4 id="whatWord">Veuillez importer un nouveau fichier.</h4>
            </div>

            <table class="table table-striped">
                <caption>Tableau récapitulatif</caption>
                <thead>
                    <tr>
                        <th>Anglais</th>
                        <th>Français</th>
                    </tr>
                </thead>
                <tr ng-repeat="wordStat in allWordsStats | orderBy : 'loose' track by $index" class="{{wordStat.loose}}">
                    <td>{{wordStat.english}}</td>
                    <td>{{wordStat.french}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-notify.min.js"></script>
    <script src="js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
